*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    min-width: 1140px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
.hero{
    background-image: url(./images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero_title{
    width: 715px;
    color: var(--4, #FFF);

}